<div data-role="header" data-theme="b">
<h1>New post</h1>
<%= link_to 'Back', posts_path, "data-icon" => "back", "class" => "ui-btn-left" %>
</div>
<div data-role="content">
<%= render 'form' %>
</div>


